@model List<MyPortfolio.Models.TblAbout>


<section id="about" class="s-about target-section">

    @foreach (var item in Model)
    {
        <div class="row about-info wide" data-animate-block>

            <div class="column lg-6 md-12 about-info__pic-block">
                <img src="@item.ImageUrl" style="width:350px; margin:100px;"
                      alt="" class="about-info__pic" data-animate-el>
            </div>

            <div class="column lg-6 md-12">
                <div class="about-info__text">

                    <h2 class="text-pretitle with-line" data-animate-el>
                        @item.Title
                    </h2>
                    <p class="attention-getter" data-animate-el>
                        @item.Description
                    </p>
                    <a href="@item.CvUrl" class="btn btn--medium u-fullwidth" data-animate-el download="CV.pdf">Download CV</a>


                </div>
            </div>
        </div> <!-- about-info -->
    }




    @Html.Action("DefaultExperties")
    <!-- end about-expertise -->


    <div class="row about-timelines" data-animate-block>

        @Html.Action("DefaultExperience")
        <!-- end column -->
        @Html.Action("DefaultEducation")

    </div> <!-- end about-timelines -->

</section>
